<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOWallet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>10</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
				<key>dateExpires</key>
				<string>17/02/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AnswerBotProvidersSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AnswerBotSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ChatProvidersSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.11.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ChatSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.11.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CommonUISDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MessagingAPI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>3.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MessagingSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>3.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDKConfigurations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SupportProvidersSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SupportSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZendeskCoreSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.9.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30E6233D0830841A4A1AB63ABF0F58FB7BA8BC5C</string>
						<key>dateExpires</key>
						<string>17/02/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M2X5YQ4BJ7</string>
						<key>name</key>
						<string>PAGOPA SPA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M2X5YQ4BJ7.it.pagopa.app.io.poc.iowallet</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.nfc.readersession.formats</key>
				<array>
					<string>TAG</string>
					<string>NDEF</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>M2X5YQ4BJ7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>IOWallet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>51a291b3-c282-4eeb-b505-2b020fbd2065</string>
				<key>dateExpires</key>
				<string>17/02/23</string>
				<key>name</key>
				<string>match AdHoc it.pagopa.app.io.poc.iowallet</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M2X5YQ4BJ7</string>
				<key>name</key>
				<string>PAGOPA SPA</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
