@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
