
.container {
  width: 100%;
  height: 100%;
}
  
.top {
  height: 50%;
  float: top;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
}

.bottom {
  width: "100%";
  background-color: #F5F6F7;
}

.details {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.row {
  display: table-row;
}

.cellLeft {
  display: table-cell;
}

.cellRight {
  display: table-cell;
  text-align: left;
  padding-left: 40px;
}

.cellHeader {
  color: #475A6D
}

.cellContent {
  font-weight: bold;
  color: #17324D;
}

.table {
  display: table;
  width: 100%;
  padding: 20px;
}
